
@{
    ViewBag.Title = "Przychodnia lekarska";
}

<font size="5">
    <p align="center">Witaj  na stronie internetowej naszej przychodni </p>
   <p align="center">Załóż konto aby mieć możliwość rejestracji do lekarzy specjalistów:</p>
</font>
<ul margin-left="500px">
    <li >Dwóch chirurgów</li>
    <li>Jeden neurolog</li>
    <li>Czterech neurochirurgów</li>
</ul>
  



