
<h3>Skontaktuj się z nami:</h3>

<address>
    Ulica: Kwiatowa<br />
    Rzeszów, 65-135<br />
    <abbr title="Telefon">Tel:</abbr>
    876459876
</address>

<address>
    <strong>Wsparcie techniczne i informacja:</strong>   <a href="mailto:przychodnia@example.com">przychodnia@example.com</a><br />
</address>