@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Wyloguj", "Pacjent", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Rejestruj", "Pacjent", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Zaloguj", "Pacjent", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}